.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgb(242, 251, 255);
  background: linear-gradient(
    180deg,
    rgba(242, 251, 255, 1) 0%,
    rgba(173, 234, 255, 1) 20%
  );
}
.container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1.25em;
  border-radius: 8px;
  gap: 1em;
}

.topbar {
  height: 200px;
  width: 100%;

  border: 1px solid rgb(99, 145, 148);
  border-radius: 8px;
  background-image: url('../assets/blue-sky-with-rainy-clouds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.topbar-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-content {
  height: 550px;
  width: 100%;

  opacity: 0.6;
  background-color: #eee4db;

  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 8px;
}

h1 {
  color: rgb(72, 206, 250);
  font-size: 36px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 8px;
}
label {
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
}
input {
  border-radius: 8px;
  padding: 0.4rem 1.2rem;
  border: 2px solid rgb(73, 73, 129);
}
.btn {
  border: 2px solid rgb(73, 73, 129);
  background-color: transparent;
  border-radius: 8px;
  padding: 0.4rem 1.2rem;

  font-weight: bold;
  letter-spacing: 1.5px;
}
.btn:hover {
  cursor: pointer;
  background: rgb(73, 73, 129);
  color: white;
}
b {
  color: rgb(73, 73, 129);
}

.error-msg {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 25px;
  color: rgb(73, 73, 129);
  font-size: 18px;
}

/* Date */

.date-wrapper {
  display: flex;
  justify-content: space-between;

  width: 50%;
  border: 1px solid rgba(73, 73, 129, 0.5);
  border-bottom: none;
}
.topbar-top-left {
  border-radius: 8px 0 0 0;
}
.topbar-top-right {
  border-radius: 0 8px 0 0;
}

.date-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 105px;
  height: 55px;

  padding: 0.5rem;
  border-radius: 8px;

  background-color: rgba(242, 251, 255, 1);
}
.date {
  color: rgb(73, 73, 129);
  letter-spacing: 1px;
  font-weight: bold;
}
.date-sub {
  opacity: 0.85;
  font-weight: 500;
}

/* Temp */

.temp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: 55px;
  gap: 4px;
}

.temp {
  font-size: 18px;
  font-weight: bold;
}
.temp-max {
  background-color: #f5f2bf;
  width: 100%;
  border-radius: 10px 100px / 120px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.temp-min {
  background-color: #e9f9bf;
  width: 100%;
  border-radius: 10px 100px / 120px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  form {
    flex-direction: row;
    gap: 4px;
  }
}
