/* Outer most wrapper/container */
.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgb(242, 251, 255);
  background: linear-gradient(
    180deg,
    rgba(242, 251, 255, 1) 0%,
    rgba(173, 234, 255, 1) 20%
  );
}
.container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1.25em;
  border-radius: 8px;
  gap: 1em;
}

/* H1 Logo */
h1 {
  color: rgb(72, 206, 250);
  font-size: 36px;
}
b {
  color: rgb(73, 73, 129);
}

/* Search input */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 8px;
}
input {
  border-radius: 8px;
  padding: 0.4rem 1.2rem;
  border: 2px solid rgb(73, 73, 129);
}
.btn {
  border: 2px solid rgb(73, 73, 129);
  background-color: transparent;
  border-radius: 8px;
  padding: 0.4rem 1.2rem;

  font-weight: bold;
  letter-spacing: 1.5px;
}
.btn:hover {
  cursor: pointer;
  background: rgb(73, 73, 129);
  color: white;
}

/* topbar section */
.topbar {
  height: 200px;
  width: 100%;
  padding: 0.5rem;

  border: 1px solid rgb(99, 145, 148);
  border-radius: 8px;
  background-image: url('../assets/blue-sky-with-rainy-clouds.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
}

/* topbar>card */
.card {
  width: 100%;
  min-width: 216px;

  background-color: transparent;
  padding: 0.5rem;
  border-radius: 8px;
}
.card:hover {
  cursor: pointer;
  background-color: rgba(173, 234, 255, 1);
  transition: 0.3s ease-in;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card-top {
  display: flex;
  justify-content: space-between;

  padding-right: 0.5rem;
  gap: 0.5rem;
}
.card-bottom {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #e9f9bf;
  border: 1px solid rgba(73, 73, 129, 0.5);
}

/* topbar>date */
.date-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 105px;
  min-width: 105px;
  height: 55px;

  padding: 0.5rem;
  border-radius: 8px;

  background-color: rgba(242, 251, 255, 1);
}
.date {
  color: rgb(73, 73, 129);
  letter-spacing: 1px;
  font-weight: bold;
}
.date-day {
  opacity: 0.85;
  font-weight: 500;
}

/* topbar>temp */

.temp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: 55px;
  gap: 4px;
  min-width: 100px;
}
.temp-container p {
  font-size: 18px;
}
.temp-high-container {
  background-color: #f5f2bf;
  width: 100%;
  border-radius: 10px 100px / 120px;
  /* border-bottom: 3px solid #d0d200;
  border-top: 3px solid #d0d200; */
  border: 3px solid #d0d200;

  display: flex;
  align-items: center;
  justify-content: center;
}
.temp-low-container {
  background-color: #e9f9bf;
  width: 100%;
  border-radius: 10px 100px / 120px;
  border: 3px solid #9beb00;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

/* main content */
.main-content {
  height: 550px;
  width: 100%;

  opacity: 0.6;
  background-color: #eee4db;

  border-radius: 8px;
}
.content-first-container {
  width: 100%;
  height: calc(100% / 3);
  opacity: 0.5;
}

/* messages */
.error-msg {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 25px;
  color: rgb(73, 73, 129);
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  form {
    flex-direction: row;
    gap: 4px;
  }
}
